body {
  background-color: #EEF4ED;
}

header {
  background-color: #134074
}

h1 {
  color: White;
  margin-left: 20px;
}

footer {
  background-color: #0B2545
}

/*#13315C Darkish Blue*/
/*#8DA9C4 Light Blue*/
